a {
  text-decoration: none !important;
  color: #fd3005 !important;
}
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0;
}
.card {
  width: auto !important;
}
.cardElement {
  margin: 20px;
}
/* Header */
.containerAdminButton {
  margin-left: 10px;
}
.containerNavButtons {
  width: 50%;
  justify-content: flex-end;
  display: flex;
}
.navButtons {
  margin-right: 10px;
}
.containerLogButton {
  display: flex;
}
.logButton {
  width: 125px;
}
.nav-link {
  color: white !important;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #fd3207;
}
.disconnectContainer {
  width: 120px;
  margin-left: 25%;
}
.containerLogo {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
  margin-right: 25%;
}
.containerLogo img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

/* boutons */
.btn-primary {
  background-color: #fd3207 !important;
  border-color: #ffd7d7 !important;
  border-radius: 10px;
  height: 44px;
}
.btn-primary :hover {
  transition: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  color: black;
}
.registerBtn {
  margin-left: 20px;
}
button:hover,
button:focus {
  outline: none !important;
  border: none !important;
}
.buttonContainer {
  width: 100%;
  height: 38px;
}
/* Login Page */
.homeImgContainer {
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
}
.homeImgContainer img {
  width: 90%;
  height: 230px;
  object-fit: cover;
}
.containerLogin {
  display: flex;
  padding: 30px 30px 50px 30px;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.loginTitle {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 50px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.loginFormTitle {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.loginForm {
  width: 90%;
  max-width: 400px;
}
.registerButton {
  margin-left: 20px;
}

/* Articles page */
.containerArticlesTitle {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.containerArticles {
  border-radius: 100px;
  padding: 20px;
}
.containerTitleArticles {
  padding: 30px;
  margin-top: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
}
/* Profile page */
.componentsContainer {
  padding: 30px;
  margin: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.profileTitle {
  margin-top: 20px;
  text-align: center;
}

.userCard {
  max-width: 95%;
}

/* Article page */
.card {
  border: 0px !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px;
  width: auto;
}
.containerArticle {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}
.containerComments {
  padding: 20px;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.containerArticleContent {
  max-width: 90%;
  padding: 20px;
  margin: 30px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px) {
  .disconnectContainer {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1010px) {
  .containerNavButtons {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
